@use "./typography" as *;
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $primary-color-1;
  color: $primary-color-3;
  font-family: "Playfair";
  margin: 0 auto;
}

// ALL FONT-STYLES ================================================

h1 {
  @include font-styles(2.8rem, 3.6rem, 700);
  margin: 0;

  @include tablet {
    @include font-styles(3.2rem, 4rem, 700);
  }
}

h2 {
  @include font-styles(2rem, 2.8rem, 700);
  margin: 0;

  @include tablet {
    @include font-styles(2.4rem, 3.2rem, 700);
  }
}

h3 {
  @include font-styles(1.3rem, 2rem, 700);
  margin: 0;

  @include tablet {
    @include font-styles(1.4rem, 2.2rem, 700);
  }
}

h4 {
  @include font-styles(1.1rem, 1.6rem, 700);
  margin: 0;

  @include tablet {
    @include font-styles(1.2rem, 1.8rem, 700);
  }
}

.link {
  @include flex(row, center, center, nowrap);
  @include size(9.5rem, 3rem);
  @include font-styles(1.2rem, 1.3rem, 700);
  text-decoration: none;
  color: $primary-color-1;
  background-color: $primary-color-3;
  border-radius: 1rem;
  border: 2px solid $secondary-color-1;

  &:active {
    color: $primary-color-2;
  }
}

p {
  @include font-styles(1rem, 1.3rem, 400);
  margin: 0;

  @include tablet {
    @include font-styles(1.2rem, 1.5rem, 400);
  }
}
