@use "./typography" as *;
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair";
  color: $primary-color-1;
  margin: 0 auto;
}

// ALL FONT-STYLES ================================================

h1 {
  @include font-styles(2.8rem, 3.6rem, 700);
  margin: 0;

  @include tablet {
    @include font-styles(3.2rem, 4rem, 700);
  }
}

h2 {
  @include font-styles(2rem, 2.8rem, 700);
  margin: 0;

  @include tablet {
    @include font-styles(2.4rem, 3.2rem, 700);
  }
}

h3 {
  @include font-styles(1.3rem, 2rem, 700);
  margin: 0;

  @include tablet {
    @include font-styles(1.4rem, 2.2rem, 700);
  }
}

h4 {
  @include font-styles(1.1rem, 1.6rem, 700);
  margin: 0;

  @include tablet {
    @include font-styles(1.2rem, 1.8rem, 700);
  }
}

a {
  @include font-styles(1rem, 1.3rem, 400);
  text-decoration: none;
  color: $primary-color-1;
}

p {
  @include font-styles(1rem, 1.3rem, 400);
  margin: 0;

  @include tablet {
    @include font-styles(1.2rem, 1.5rem, 400);
  }
}

.app {
  background: linear-gradient($base-color-2, $primary-color-3);
}
