$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-1: #162918;
$primary-color-2: #76b87d;
$primary-color-3: #bdffc5;

$secondary-color-1: #6b1914;
$secondary-color-2: #e35d56;

$base-color-1: black;
$base-color-2: white;
